* {
    transition: all 0.3s ease;
}

.nav-link {
    color: #ffffff;
    position: relative;
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #7b2ff7, #9f44d3);
    color: white;
    border-radius: 8px;
}

.nav-link:hover {
    color: #7c3aed;
}


.nav-pills .nav-link {
    color: white;
}

.portfolio-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

body {
    background-color: #0d1117;
    color: #ffffff;
}

.fs-4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    letter-spacing: 2px;
}

.sub-text-1 {
    font-family: 'Niccone', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #7b2ff7;
}

.sub-text {
    font-family: 'Niccone', cursive;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.highlight {
    color: #7b2ff7;
    font-weight: 600;
    font-family: poppins, sans-serif;
}

.profile-pic {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-left: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 70%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}