.nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #7b2ff7, #9f44d3);
    color: white;
    border-radius: 8px;
}

.nav-pills .nav-link {
    color: white;
}


body {
    background-color: #0d1117;
    color: #ffffff;
}

.fs-4 {
    font-family: 'Niccone', cursive;
    font-weight: 600;
    letter-spacing: 1px;
}

.content {
    align-items: center;
    text-align: center;
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: 'Niccone', cursive;
    height: 100vh;
}