.nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #7b2ff7, #9f44d3);
    color: white;
    border-radius: 8px;
}

.nav-pills .nav-link {
    color: white;
}


body {
    background-color: #0d1117;
    color: #ffffff;
}

.fs-4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
}

.sub-text {
    font-family: 'Niccone', cursive;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;
    margin-left: 150px;
}

.motivation {
    font-family: 'Niccone', cursive;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 30px;
}

.highlight {
    color: #7b2ff7;
}