.nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #7b2ff7, #9f44d3);
    color: white;
    border-radius: 8px;
}

.nav-pills .nav-link {
    color: white;
}


body {
    background-color: #0d1117;
    color: #ffffff;
    font-family: 'Niccone', cursive;
}

.fs-4 {
    font-family: 'Niccone', cursive;
    font-weight: 600;
    letter-spacing: 1px;
}

.heading {
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.sub-text {
    font-family: 'Niccone', cursive;
    font-size: 1rem;
    letter-spacing: 1px;
}

.highlight {
    color: #7b2ff7;
}

.box {
    border-radius: 20px;
    padding: 20px;

    background: #0b1220;

    border-top: 1px solid white;
    border-left: 1px solid white;

    box-shadow: 0 0 60px rgba(124, 58, 237, 0.4);
    font-size: 1.2rem;

}