.nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #7b2ff7, #9f44d3);
    color: white;
    border-radius: 8px;
}

.nav-pills .nav-link {
    color: white;
}


body {
    background-color: #0d1117;
    color: #ffffff;
}

.fs-4 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}